::defaults {
  width: 50px;
  height: 25px;
  display: text;
  font-family: 'Calibri';
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  color: #444;
  /* test comment */
  /* color: red; */
  border: none;
  background: none;
}

::row(1) {
  position: fixed;
  height: 36px;
}

TITLE {
  color: #fff;
  background: #9b1f80;
}

STATE_100, STATE_200, STATE_300, STATE_400, STATE_500, STATE_ERROR {
  border: #000 thin;
  color: #fff;
}

STATE_100 {
  background: #005bff;
}

STATE_200 {
  background: #46a0df;
}

STATE_300 {
  background: #dfab46;
}

STATE_400, STATE_500, STATE_ERROR {
  background: #df4654;
}

STATE_ERROR {
  background: #ac0000;
}

URL {
  display: link;
  text-align: left;
  border: #111 thick;
}

EMPTY {}
